
/* Wrapper classes */
.main-wrapper{
    height: 100%;
}
.main-background{
    width: 100%;
    height: 100%;
}
/* semantic classes */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 10px;
}

.main-heading{
    width: calc(100% - 20%);
    font-size: 1.7em;
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 600;
}
.main-subheading{
    width: calc(100% - 40%);
    font-size: 0.9em;
    font-family: 'Montserrat-regular', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}

.main-contact{
    width: calc(100% - 80%);
}

/* semantic classess */

.details{
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    align-items: center;
    gap: 20px;
}
.details-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content-elements{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}
.content__img{
    width: calc(100% - 55%);
    height: calc(100vh - 50vh);
}
.content__info{
    width: calc(100% - 60%);
    font-family: 'Montserrat-regular',sans-serif;
    font-weight: 400;
}
.details-heading{
    font-size: 1.4em;
    padding-bottom: 20px;
}

/*  Adaptive */
@media (max-width:1024px) {
    .main, .main-background{
        justify-content: center;
    }
    .main-contact{
        width: calc(100% - 50%);
    }
    .main-heading{
        font-size: 2.2em;
    }
    .main-subheading{
        font-size: 1.6em;
    }
    .main-contact{
        font-size: 1.6em;
    }
    .content-elements{
        display: flex;
        gap: 40px;
    }
    .content__info{
        font-size: 1.5em;
    }
    .content-elements:nth-child(1){
        flex-direction: column-reverse;
    }
    .content__info, .content__img{
        width: 100%;
    }
    .content-elements:nth-child(2){
        flex-direction: column;
    }
    .details-heading{
        font-size: 3em;
        padding: 10px;
    }
    .content__img{
        height: 100%;
    }
}

@media (max-width:430px) {
    .main, .main-background{
        height: 100%;
        justify-content: start;
    }
    .main-contact{
        width: calc(100% - 50%);
        margin-bottom: 40px;
    }
    .content-elements{
        display: flex;
        gap: 10px;
    }
    .details-heading{
        padding: 10px;
    }
}

@media (max-width:390px) {
    .main, .main-background{
        height: 100%;
        justify-content: start;
    }
    .main-contact{
        width: calc(100% - 30%);
        font-size: 1.2em;
    }
    .content-elements{
        display: flex;
        gap: 10px;
    }
    .content__info{
        font-size: 1em;
    }

    .details-heading{
        font-size: 2em;
        padding: 10px;
    }
}

@media (min-width: 1400px) {
    .main{
        justify-content: center;
        gap: 20px;
    }
    .main-contact{
        width: calc(100% - 75%);
        font-size: 2em;
    }
    .main-heading{
        font-size: 2.5em;
    }
    .main-subheading{
        font-size: 2em;
    }
    .content-elements{
        display: flex;
        gap: 20px;
    }
    .content__info{
        font-size: 1.7em;
    }
    .details-heading{
        font-size: 3em;
        padding: 10px;
    }
    .details{
        gap: 40px;
    }
}